---
import SideBar from "../../components/SideBar.astro";
import GamesList from "../../components/GamesList.astro";
import PageLayout from "../../components/PageLayout.astro";

import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const exerciseEntries = await getCollection("exercises");
  return exerciseEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const allExercises = await getCollection("exercises");
---

<PageLayout>
  <div class="mx-auto p-2">
    <div class="prose p-2 bg-white p-4 min-h-screen">
      <div class="sm:flex space-between w-full">
        <h1 class="flex-1">{entry.data.name}</h1>
        <a class="text-right" href={entry.data.editURL}>Edit on Google Docs</a>
      </div>
      <Content />
    </div>
  </div>
</PageLayout>
