---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const exerciseEntries = await getCollection("exercises");
  return exerciseEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

const allExercises = await getCollection("exercises");
---

<div class="flex p-2">
  <div class="p-2">
    <h2 class="text-xl pb-4">All Games</h2>
    <ul>
      {
        allExercises.map((exercise) => (
          <li style="display: block; padding-bottom: 0.5rem;">
            <a class="text-blue-600 visited:text-purple-600" href={"/exercises/" + exercise.slug}>
              {exercise.data.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="p-2 prose">
    <h1>{entry.data.title}</h1>
    <a href={entry.data.editURL}>Edit on Google Docs</a>
    <Content />
  </div>
</div>
