---
import { getCollection } from "astro:content";
const allExercises = await getCollection("exercises");
---

<h2>All Exercises</h2>

<ul>
  {
    allExercises.map((exercise) => (
      <li>
        <a href={"/exercises/" + exercise.slug}>{exercise.slug}</a>
      </li>
    ))
  }
</ul>
