---
import { getCollection } from "astro:content";
const allExercises = await getCollection("exercises");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Musical Improv Exercises</title>
  </head>
  <body>
    <h2>Musical Improv Exercises</h2>
    <ul>
      {
        allExercises.map((exercise) => (
          <li>
            <a href={"/exercises/" + exercise.slug}>{exercise.slug}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
