---
import PageLayout from "../components/PageLayout.astro";
import GamesList from "../components/GamesList.astro";
---

<PageLayout title="All Exercises | Musical Improv Games">
  <div class="bg-white p-2">
    <h2 class="text-xl pb-4">Musical Improv Games</h2>
    <GamesList />
  </div>
</PageLayout>
