---

---

<footer class="block sm:flex sm:flex-col bg-white p-2 m-2">
  <div class="flex-1">
    <div class="m-2">
      <div class="text-xl">How does this website work?</div>
      <ul class="ml-2">
        <li class="my-2">
          <a class="text-blue-600 hover:text-violet-600 underline" href="https://drive.google.com/drive/folders/1NEsamwstmnzINMTPiTBuKxWwvGkE3902">Content on Google Drive</a>
        </li>
        <li class="my-2">
          <a class="text-blue-600 hover:text-violet-600 underline" href="https://github.com/caseywatts/musical-improv-games">Code on GitHub</a>
        </li>
      </ul>
    </div>
    <div class="m-2">
      <div class="text-xl mt-5">Want to contribute?</div>
      <div>Email us!</div>
      <ul class="ml-2">
        <li class="my-2">
          <a class="text-blue-600 hover:text-violet-600 underline" href="mailto:casey@baltimoremusicalimprov.com">casey@baltimoremusicalimprov.com</a>
        </li>
        <li class="my-2">
          <a class="text-blue-600 hover:text-violet-600 underline" href="mailto:brian@baltimoremusicalimprov.com">brian@baltimoremusicalimprov.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="m-2 my-4">
    <div class="text-xl">Created with ❤️</div>
    <ul class="ml-2">
      <li class="my-2">
        <a class="text-blue-600 hover:text-violet-600 underline" href="https://baltimoremusicalimprov.com/">Baltimore Musical Improv</a>
      </li>
    </ul>
  </div>
</footer>
