---
import { getCollection } from "astro:content";
const allExercises = await getCollection("exercises");
const { aspect, aspectName } = Astro.props;
const aspectPrimary = allExercises.filter((exercise) => exercise.data[aspect] === "primary");
const aspectSecondary = allExercises.filter((exercise) => exercise.data[aspect] === "yes");
---

<details class="bg-violet-200 odd:bg-blue-200 p-2">
  <summary class="text-lg p-2 hover:cursor-pointer">{aspectName}</summary>
  <ul>
    {
      aspectPrimary.map((exercise) => (
        <li class="px-2 py-0.5">
          <a class="text-blue-600 hover:text-violet-600" href={"/exercises/" + exercise.slug}>
            ⭐️ {exercise.data.name}
          </a>
        </li>
      ))
    }
    {
      aspectSecondary.map((exercise) => (
        <li class="px-2 py-0.5">
          <a class="text-blue-600 hover:text-violet-600" href={"/exercises/" + exercise.slug}>
            {exercise.data.name}
          </a>
        </li>
      ))
    }
  </ul>
</details>
