---
import GamesList from "./GamesList.astro";
---

<details class="p-2 flex">
  <summary class="text-xl p-4 bg-violet-100 hover:cursor-pointer hover:bg-violet-150">All Games</summary>
  <div class="p-4 bg-violet-100">
    <GamesList />
  </div>
</details>
