---
import GamesList from "./GamesList.astro";
---

<details class="flex transition-all bg-violet-100">
  <summary class="text-xl p-4 hover:cursor-pointer bg-violet-200">All Games</summary>
  <div class="p-4">
    <GamesList />
  </div>
</details>
