---
import GamesList from "./GamesList.astro";
import ListsByAspect from "./ListsByAspect.astro";
---

<div class="block sm:flex sm:flex-col">
  <details class="flex transition-all bg-violet-100">
    <summary class="text-xl p-4 hover:cursor-pointer bg-violet-200">All Games</summary>
    <div class="p-4">
      <GamesList />
    </div>
  </details>

  <details class="flex transition-all bg-violet-100">
    <summary class="text-xl p-4 hover:cursor-pointer bg-violet-200">Games By Aspect</summary>
    <div class="">
      <ListsByAspect />
    </div>
  </details>
</div>
